@using ProjetoMVC.Models.Dtos
@model RegistroVendasDto

@{
    ViewData["Title"] = "Create";
}
<h2>
    @ViewData["Title"]
</h2>


<style>
    #imagens {
        width: 400px;
        height: auto;
        margin: 30px 15px 700px 450px
    }

</style>
<div class="row">
    <div class="col-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select class="form-select" asp-for="Status" asp-items="@(new SelectList(Enum.GetValues(typeof(ProjetoMVC.Models.Enuns.StatusVenda))))" class="form-control">
                    <option value="">-- Select Status --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="VendedorId" class="control-label"></label>
                <select class="form-select" asp-for="VendedorId" asp-items="@(new SelectList(Model.Vendedores, "Id", "Nome"))" class="form-control">
                    <option value="">-- Select Vendedor --</option>
                </select>
            </div>
            <hr />
            <h4>Itens da Venda</h4>
            <div id="itens-container">
                <div class="form-group">
                    <label asp-for="ProdutoId" class="control-label"></label>
                    <select class="form-select" asp-for="ProdutoId" asp-items="@(new SelectList(Model.Produtos, "Id", "Nome"))" class="form-control">
                        <option value="">-- Select Produto --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Quantidade" class="control-label"></label>
                    <input asp-for="Quantidade" class="form-control" />
                </div>

                @* 2. Este é o botão que o usuário irá clicar. Note o type="button" e o id *@
                <div class="form-group mt-2">
                    <button type="button" id="btn-adicionar-item" class="btn btn-secondary">Adicionar Produto</button>
                </div>

                <hr />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
        </form>

    </div>
</div>

@section Scripts {
    <script></script>

}
