@using ProjetoMVC.Models.ViewModels
@using System.Globalization;
@model RegistroVendasViewModel

@{
    ViewData["Title"] = "Create";
}


<style>
    #itens-container {
        color : black;
    }



</style>

<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
    <h4 class="align-center">Criação</h4>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select class="form-select" asp-for="Status" asp-items="@(new SelectList(Enum.GetValues(typeof(ProjetoMVC.Models.Enuns.StatusVenda))))" class="form-control">
                    <option value="">-- Select Status --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="VendedorId" class="control-label"></label>
                <select class="form-select" asp-for="VendedorId" asp-items="@(new SelectList(Model.Vendedores, "Id", "Nome"))" class="form-control">
                    <option value="">-- Select Vendedor --</option>
                </select>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>



        <div class="col-md-6">
            <div id="itens-container">
            <h4 class="align-center">Itens do Pedido</h4>
                <div class="form-group">
                    <label asp-for="RegistroVendasItens" class="control-label"></label>
                    <select id="itemProduto" class="form-select" asp-for="ProdutoId" asp-items="@(new SelectList(Model.Produtos, "Id", "Nome"))" class="form-control">
                        <option value="">-- Select Produto --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Quantidade</label>
                    <input id="itemQuantidade" type="number" class="form-control" />
                </div>


                <div class="form-group col-md-3">
                    <label class="control-label">Valor</label>
                    <label id="itemValor" class="form-control">R$ 0,00</label>
                </div>
                <div class="form-group mt-2">
                    <button type="button" id="btnAdicionarItem" class="btn btn-dark">Adicionar Produto</button>
                </div>
                <hr/>

                <h4>Lista de produtos criados</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Valor Unitário</th>
                            <th>Subtotal</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tabelaItens">

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    </div>
</form>


</div>
<hr />

   


@section Scripts {
    <script> var produtosDisponiveis = @Html.Raw(Json.Serialize(Model.Produtos));</script>
        
    <script src="~/js/registroVendas.js"></script>

}
